/* Colors */
:root { 
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

/* Typography */
html {
    font-size: 15px;
}

html, body, .btn { 
    font-family: 'Overpass', sans-serif;
}

h1 {
    color: var(--white);
    font-size: 2rem;
}

p, .ratings-container span {
    color: var(--medium-grey);
}

p { 
    line-height: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

/* Layout */
* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

/* Constrict and center the page content */
.container { 
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

/* Styles */
body { 
    background-color: var(--very-dark-blue);
}

.component { 
    background-color: var(--dark-blue);
    max-width: 375px;
    padding: 2rem;
    border-radius: 20px;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.btn {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 10px;
    width: 100%;
}

.ratings-container {
    justify-content: space-between;
}

.circle {
    /* border: 1px solid red; */
    border-radius: 100%;
    height: 45px;
    width: 45px;
    background-color: rgba(255,255,255, 0.05);
}